Source: liboa
Priority: extra
Maintainer: Henrik Johansson <henrik@johome.net>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.8.1
Section: libs
Homepage: http://www.si2.org

Package: liboa-dev
Section: libdevel
Architecture: any
Depends: liboa (= ${binary:Version})
Description: Open Access C++ header files
  OpenAccess is a community effort to provide true interoperability versus data exchange among IC design tools through an
  open standard data access interface (API) and Reference Implementation supporting that.

Package: liboa
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Open Access C++ runtime library
  OpenAccess is a community effort to provide true interoperability versus data exchange among IC design tools through an 
  open standard data access interface (API) and Reference Implementation supporting that.
